**{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    width: 100%;
    height: 50px;
    background: palegreen;
    display: flex;
}
.container-fluid{
    flex-direction: column;
}
.hide{
    display: none;
}
thead{
    width: 100%;
    height: 50px;
    /* background: paleturquoise; */
    text-align: center;
  
}
tbody tr{
    width: 100%;
    height: 50px;
    text-align: center;
}
